/__pycache__

/cache

/queries/**
!/queries/city.txt
!/queries/road.txt

/rules/**
!/rules/example.json

/styles/**
!/styles/example.css

path_styler_*.py
!path_styler_example.py

map.svg